<header class="header-container">
    <div class="header-content">
        <h1 class="header-title">
            <a class="main-logo" href="{% url 'estoque_insumo:home' %}">
                <i class="fa-solid fa-cart-flatbed"></i>
                <span>Estoque Insumos</span>
        </a>
        </h1>
        <div class="user-enter">
            <p class="register-link"><a href="{% url 'user:register' %}">Registar</a></p>
            <p class="login-link"><a href="{% url 'user:register' %}">Login</a></p>
            
        </div>
    </div>
</header>