body {
    margin: 0;
    padding: 0;
    
}


/* header*/

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(151, 50, 50);
    padding: .5rem;
    margin: 0;
}

.header-content {
    width: 100%;
    height: 100%;
}

.header-title {
    
    font-size: 2rem;
    color: white;
    align-items: center;
    text-align: center;
}

.header-title a {
    text-decoration: none;
    color: white;
}


/* footer */
.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(151, 50, 50);
    color: white;
    padding: 3rem;
}

.main-footer a {
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(0.8);
}



.main-content-container {
    min-height: 80vh;
    padding: 2rem;
    background: #f5f5f5;
}
/* home */
.home-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.empty-positions, 
.helds-positions, 
.see-inventory, 
.new-movement,
.new-code {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 50px;
    margin-right: 25px;
}


